<a href="https://colab.research.google.com/github/mohankumaranem/TensorFlow/blob/master/Lannet%20Assingnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a function in python that inputs a dataframe and identify which columns have date in them. Using these date columns make new columns which are difference between these columns taking 2 at a time. (for instance if there is date1, date2, date3 columns, output should be like date1-date2, date2-date3, date1-date3). For this problem only, print out data in the colab.

Thing to consider

· Date column might have some invalid entries in them

· Date can be of different format throughout the column

· Code should be efficient and fast

· Code should be well commented and easy to interpret

· Used google Colab

· Code should be robust enough to run on any dataset

· **here dataset made by me was made in excel hence it the result will be constant output because i used excel short cuts to create dataset and negative values are obtained due to year 1999  subracted from year 2000 and the output are in days and can be conveeted into months or years.**

In [ ]:
def ConvertDate(df):                #Data Frame Passed To the Function
  df2=pd.DataFrame()                #created A new DataFrame To find all The date Features
  j=df.columns.to_list()            #A list Contains All Column Names of Dataframe
  for i  in j:
    df2[i]=pd.to_datetime(df[i],errors='coerce')                      #we are Copying all Cloumns  Containing Dates to second dataframe
  df2 = df2.dropna(how='all', axis=1)                                 #Drop all Features Which are not dates in Second Data Frame
  k=np.asanyarray(df2.select_dtypes(include=['datetime64']).columns)  # To calculate How many Features Containing Dates
  for i in  range(0,len(k)):        #Loop To Caluclate The Differences between Time
    if i==len(k)-1:
      df2['date'+str(i+1)+'-date'+str(len(k)-i)]=(df2[k[0]]-df2[k[-1]]).dt.days
    else:    
      df2['date'+str(i+1)+'-date'+str(i+2)]=(df2[k[i]]-df2[k[i+1]]).dt.days
  df2.dropna(inplace=True)            #Drop all Nan and NaT values In new DatFrame
  print(df2.iloc[0:,4:])              #To Show All the differences of Dates
                                      # I Used Excel Short Cuts for dataSet hence The Diffecernce Is Constant Between Features
  return None


import numpy as np
import pandas as pd                   #importing all necessary libraries for the code
import datetime  as dt
df=pd.read_excel('/content/Book2.xlsx')        #Using My Own Data Set using Book2.Xlsx
ConvertDate(df)                       #Function for Date Difference

    date1-date2  date2-date3  date3-date4  date4-date1
1        5869.0          -87        -6637       -855.0
2        5869.0          -87        -6637       -855.0
4        5869.0          -87        -6637       -855.0
5        5869.0          -87        -6637       -855.0
6        5869.0          -87        -6637       -855.0
7        6724.0          -87        -5782        855.0
8        6724.0          -87        -5782        855.0
9        6724.0          -87        -5782        855.0
10       6724.0          -87        -5782        855.0
11       6724.0          -87        -5782        855.0
12       6724.0          -87        -5782        855.0
13       6724.0          -87        -5782        855.0
14       6724.0          -87        -5782        855.0
15       6724.0          -87        -5782        855.0
16       6724.0          -87        -5782        855.0
17       6724.0          -87        -5782        855.0
18       6724.0          -87        -5782        855.0
19       6637.0            0        -5782        855.0
20       6637.0           87        -5869        855.0
21       6637.0           87        -5869        855.0
22       6637.0           87        -5869        855.0
23       6637.0           87        -5869        855.0
24       6637.0           87        -5869        855.0
25       6637.0           87        -5869        855.0
26       6637.0           87        -5869        855.0
27       6637.0           87        -5869        855.0
28       5782.0           87        -6724       -855.0
29       5782.0           87        -6724       -855.0
30       5782.0           87        -6724       -855.0
31       5782.0           87        -6724       -855.0
32       5782.0           87        -6724       -855.0
33       5782.0           87        -6724       -855.0
34       5782.0           87        -6724       -855.0
35       5782.0           87        -6724       -855.0
36       5782.0           87        -6724       -855.0
37       5782.0           87        -6724       -855.0
38       5782.0           87        -6724       -855.0
39       5782.0           87        -6724       -855.0
40       5782.0           87        -6724       -855.0
41       5782.0           87        -6724       -855.0

2.Write a function in python that take dataframe as input and drop columns having Pearson correlation more than 0.85

Thing to consider

· Code should drop least amount of variable as possible. (this is an important point)

· Code should be efficient and fast

· Code should be well commented and easy to interpret

· Use google Colab

· Code should be robust enough to run on any dataset

· Make a dummy dataset by yourself or pass any publicly available dataset to test out your logic

In [ ]:
def DropPearson(df3):
  corr_matrix = df3.corr(method='pearson').abs()                                       # Calculationg Pearson Correlaton for the entire Dataframe
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))  # Select upper triangle of correlation matrix
  to_drop = [column for column in upper.columns if any(upper[column] > 0.85)]          # Find index of feature columns with correlation greater than 0.85
  df3.drop(df3[to_drop], axis=1,inplace=True)                                          # Drop features 
  return df3

df3=pd.read_csv('/content/module_5_auto.csv')
DropPearson(df3)
df3                                                                                    # Priting DataFrame After Dropping the Features

     symboling  normalized-losses  ... city-mpg horsepower-binned
0            3                122  ...       21            Medium
1            3                122  ...       21            Medium
2            1                122  ...       19            Medium
3            2                164  ...       24            Medium
4            2                164  ...       18            Medium
..         ...                ...  ...      ...               ...
196         -1                 95  ...       23            Medium
197         -1                 95  ...       19              High
198         -1                 95  ...       18            Medium
199         -1                 95  ...       26            Medium
200         -1                 95  ...       19            Medium

[201 rows x 21 columns]